* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 100vh;
  flex-wrap: wrap;
}

.grid-item {
  background-color: blue;
  height: 300px;
  flex: 1 1 33%;
  border: 4px solid red;
}
