* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 100vh;
  flex-wrap: wrap;
}

.grid-item {
  background-color: blue;
  border: 4px solid red;
}

.grid-item-visited {
  background-color: red;
  border: 4px solid blue;
}
