* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 100vh;
  flex-wrap: wrap;
}

.grid-item {
  background-color: white;
  border: 0.1px solid black;
}

.grid-item-visited {
  background-color: black;
  border: none;
}
